n8n/WF-11_achievements_list.json
{
  "name": "WF-11 政績列表 leyicasedemo/achievements",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "leyicasedemo/achievements",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1a2c3d4-0001-4001-8001-a1b2c3d4e5f6",
      "name": "接收政績列表查詢",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "leyicasedemo-achievements-list"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "344b3ad1d1cd80dfb8dad1099b9e0e6a",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "是否公開",
              "condition": "checkbox",
              "checkboxValue": true
            }
          ]
        },
        "sort": {
          "sortRules": [
            {
              "key": "顯示排序",
              "direction": "ascending"
            },
            {
              "key": "發布日期",
              "direction": "descending"
            }
          ]
        },
        "options": {
          "downloadFiles": false
        },
        "simplifyOutput": false
      },
      "id": "b1a2c3d4-0002-4001-8001-a1b2c3d4e5f6",
      "name": "查詢 Notion demoDB_achievement",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const query = $('接收政績列表查詢').first().json.query || {};\nconst page = Math.max(parseInt(query.page || '1', 10), 1);\nconst limit = Math.max(parseInt(query.limit || '100', 10), 1);\nconst tagFilter = String(query.tag || '').trim();\nconst featuredOnly = String(query.featured || '').toLowerCase() === 'true';\nconst rawItems = $input.all();\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'title') return (prop.title || []).map(t => t.plain_text || '').join('');\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(t => t.plain_text || '').join('');\n  if (prop.type === 'select') return prop.select?.name || '';\n  if (prop.type === 'date') return prop.date?.start || '';\n  if (prop.type === 'url') return prop.url || '';\n  if (prop.type === 'number') return prop.number ?? '';\n  if (prop.type === 'checkbox') return prop.checkbox || false;\n  return '';\n}\n\nfunction getFiles(prop) {\n  if (!prop || prop.type !== 'files') return [];\n  return (prop.files || []).map(f => f.file?.url || f.external?.url || '').filter(Boolean);\n}\n\nfunction getTags(prop) {\n  return (prop?.multi_select || []).map(t => t.name).filter(Boolean);\n}\n\nfunction splitProcess(value) {\n  return String(value || '').split(/\\r?\\n|、|,/).map(v => v.trim()).filter(Boolean).slice(0, 6);\n}\n\nfunction sourceFromProps(props) {\n  const type = getText(props['政績類型']);\n  if (type) return type;\n  if (getText(props['相關案件編號'])) return '陳情案件';\n  if (getText(props['相關會勘ID'])) return '現場會勘';\n  if (getText(props['相關質詢ID'])) return '質詢成果';\n  if (getText(props['相關提案ID'])) return '提案成果';\n  return '政績資料庫';\n}\n\nlet items = rawItems.map((item, index) => {\n  const props = item.json.properties || {};\n  const title = getText(props['政績標題']);\n  const type = getText(props['政績類型']);\n  const category = getText(props['議題類型']);\n  const summary = getText(props['摘要']);\n  const content = getText(props['詳細內容']) || summary;\n  const coverImages = getFiles(props['封面圖片']);\n  const beforeImages = getFiles(props['成果前圖片']);\n  const afterImages = getFiles(props['成果後圖片']);\n  const images = [...coverImages, ...beforeImages, ...afterImages];\n\n  return {\n    id: item.json.id || `achievement-${index + 1}`,\n    title,\n    type,\n    source: sourceFromProps(props),\n    category,\n    tags: getTags(props['標籤']),\n    date: getText(props['發布日期']),\n    summary,\n    content,\n    featured: Boolean(getText(props['是否精選'])),\n    image: coverImages[0] || images[0] || '',\n    images,\n    beforeImages,\n    afterImages,\n    process: splitProcess(content),\n    videoUrl: getText(props['來源連結']),\n    sortOrder: Number(getText(props['顯示排序']) || 999),\n    status: getText(props['資料狀態'])\n  };\n}).filter(item => item.title && item.status !== '草稿' && item.status !== '隱藏');\n\nif (tagFilter) items = items.filter(item => item.tags.includes(tagFilter) || item.category === tagFilter || item.type === tagFilter);\nif (featuredOnly) items = items.filter(item => item.featured);\n\nitems.sort((a, b) => (a.sortOrder - b.sortOrder) || String(b.date).localeCompare(String(a.date)));\n\nconst total = items.length;\nconst totalPages = Math.max(1, Math.ceil(total / limit));\nconst safePage = Math.min(page, totalPages);\nconst start = (safePage - 1) * limit;\nconst pageItems = items.slice(start, start + limit);\n\nreturn [{ json: { success: true, total, page: safePage, limit, totalPages, items: pageItems } }];"
      },
      "id": "b1a2c3d4-0003-4001-8001-a1b2c3d4e5f6",
      "name": "整理政績列表結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "b1a2c3d4-0004-4001-8001-a1b2c3d4e5f6",
      "name": "回傳政績列表結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "接收政績列表查詢": {
      "main": [
        [
          {
            "node": "查詢 Notion demoDB_achievement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢 Notion demoDB_achievement": {
      "main": [
        [
          {
            "node": "整理政績列表結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理政績列表結果": {
      "main": [
        [
          {
            "node": "回傳政績列表結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateId": "WF-11",
    "instanceId": "leyicasedemo"
  },
  "tags": [
    { "name": "leyicasedemo" },
    { "name": "achievements" },
    { "name": "政績版" }
  ]
}
